.logo {
    width: 150px;             /* Adjust the width */
    height: 150px;            /* Adjust the height */
    margin: 10px;
    background-image: url('./img/logo.png');
    background-size: contain; /* Ensures the entire image fits */
    background-repeat: no-repeat; /* Prevents repeating the image */
    background-position: center; /* Centers the image */
}




h1 {
    color:whitesmoke;
    font-size: 36px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-align: center;
}

p{
    color:beige;
    font-size: 20px;
    font-weight: lighter;
    font-family: Arial, sans-serif;
    text-align: center;
}


.btn-outline-success {
    color: white; 
    border-color: white; 
}

.btn-outline-success:hover {
    color: green;
    background-color: white; 
    border-color: white; 
}
